.main-frame{
    border-width: 14px;
    padding: 22px;
}
.small-tbl-font{
    font-size: 12px;
}
.small-tbl-head{
    font-size: 14px;
    font-weight: bold;
}
.small-tbl-btn{
    border-radius: .25rem;
    font-size: 12px;
    margin-bottom: 4px;
}
.md-btn{
    font-size: 14px;
    margin: 4px;
    padding: 6px;
    border-radius: .25rem;
}
.val-cell{
    padding: 3px;
}