.uweb-img-row{
    /*padding-bottom: 10px;*/
    border-radius: 8px;
    max-width: 160px;
    max-height: 140px;
    transition:transform 0.25s ease;
}
img:hover {
    -webkit-transform:scale(2.0);
    transform:scale(2.0);
}
.main-frame{
    border-width: 14px;
    padding: 22px;
}
.small-tbl-font{
    font-size: 12px;
}
.small-tbl-head{
    font-size: 14px;
    font-weight: bold;
}
.small-tbl-btn{
    border-radius: .25rem;
    font-size: 12px;
    margin-bottom: 4px;
}
.md-btn{
    font-size: 14px;
    margin: 4px;
    padding: 6px;
    border-radius: .25rem;
}
.val-cell{
    padding: 3px;
}
