body {

    background: #175a5a !important;
    padding: 9px 20px;
    margin-bottom: 14px;
}
.display {
    max-width: 60em;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #eee;
    border: 25px solid rgba(0, 0, 0, 0.1);
    border-radius: 46px;


}
p + p {
    margin-top: 30px; 
}
.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
li {
    padding-bottom: 10px;   
}
.heading-height {
    line-height: 3em;
    margin-bottom: 1em; 
}